*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  text-align: center;
}

.content {
  padding: 60px 0;
}

h1 {
  font-size: 60px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 8px;
}

h1 ~ .subtitle {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 300;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h2 ~ .subtitle {
  font-size: 18px;
  font-weight: 300;
}

.separator-small {
  width: 483px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.separator-small ~ .description {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
}

.wrapper-inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  height: 100%;
}

/* NAVIGATION */

nav {
  height: 100px;
  background-color: #093348;
}

nav .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.03137254901960784);
  border: 1px solid #3b5968;
  position: relative;
}

nav .logo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

nav .menu {
  display: flex;
}

nav .menu li a {
  margin: 0 7px;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

nav .menu li a:hover {
  background-color: rgba(31,68,88);
  color: rgb(142,189, 214);
}

/* HOMEPAGE */

.content.homepage {
  background-image: url("../images/jumbotron.jpg");
  color: #ffffff;
  padding: 110px 0;
}

.content.homepage .separator-small {
  background-color: #5a8da7;
}
.content.homepage .description {
  color: #b4d1e1;
}

.content.homepage a {
  display: inline-block;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 12px 45px;
  background-color: rgba(0,0,0,0.14901960784313725);
  text-decoration: none;;
}


/* TEAM */

.content.team {
  background-color: white;
  color: #0d415c;
  padding: 75px 0;
}

.content.team  .team-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.content.team .team-wrapper .team-item .team-item-name {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

.content.team .team-wrapper .team-item .team-item-skills {
  font-size: 13px;
  font-weight: 400;
  color: #618598;
}

.content.team .separator-small {
  background-color: #c9d4da;
}

.content.team .description {
  width: 100%;
  max-width: 500px;
  font-size: 15px;
  color: #0d415c;
  font-weight: 400;
}

/* PORTFOLIO */

.content.portfolio {
  height: 556px;
  background-color: rgb(62, 173, 135);
  color: white;
}

/* CONTACT */

.content.contact {
  color: white;
  height: 799px;
  background-color: rgb(34, 49, 57);
}
