*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  text-align: center;
}

h1 {
  font-size: 60px;
  letter-spacing: -1px;
  font-weight: 700;
}

h1 ~ .subtitle {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 300;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h2 ~ .subtitle {
  font-size: 18px;
  font-weight: 300;
}

.separator-small {
  width: 483px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.separator-small ~ .description {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
}

/* NAVIGATION */

nav {
  height: 100px;
  background-color: #093348;
}

/* HOMEPAGE */

.content.homepage {
  height: 510px;
  background-image: url("../images/jumbotron.jpg");
  color: #ffffff;
}

.content.homepage .separator-small {
  background-color: #5a8da7;
}
.content.homepage .description {
  color: #b4d1e1;
}


/* TEAM */

.content.team {
  height: 467px;
  background-color: white;
  color: #0d415c;
}

.content.team  .team-wrapper {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.content.team .separator-small {
  background-color: #c9d4da;
}

/* PORTFOLIO */

.content.portfolio {
  height: 556px;
  background-color: rgb(62, 173, 135);
  color: white;
}

/* CONTACT */

.content.contact {
  color: white;
  height: 799px;
  background-color: rgb(34, 49, 57);
}
